@font-face {
    font-family: 'NeuronAngled-Light';
    src: url('/assets/fonts/NeuronAngled-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeuronAngled-Bold';
    src: url('/assets/fonts/NeuronAngled-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}